@font-face {
    font-family: LexendDeca;
    src: url("assets/font/LexendDeca-Regular.ttf");
}

@font-face {
    font-family: LexendDeca;
    src: url("assets/font/LexendDeca-Bold.ttf");
    font-weight: bold;
}

* {
    font-family: LexendDeca;
    box-sizing: border-box;

    --color-midnight: rgb(31, 34, 43);
    --color-midnight-light: rgb(51, 50, 75);
    --color-midnight-lighter: rgb(74, 82, 110);
    --color-midnight-blue: rgb(32, 29, 54);
    --color-midnight-transparent: rgba(31, 34, 43, 0.533);
    --color-midnight-light-transparent: rgba(51, 50, 75, 0.533);
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(176deg, #12181b 50%, #202737 100%);
    background-attachment: fixed;
}

nav {
    width: 100%;
    color: white;
    background-color: transparent;
    position: fixed;
    padding: 0 1.2rem 0 1.2rem;
    z-index: 20;
    font-size: 16px;
    font-family: LexendDeca;
    transition: 300ms;
}

#navigation[data-scrolled] {
    background-color: black;
}

.nav-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 96rem;
    display: flex;
    justify-content: space-between;
}

.nav-button-list {
    display: flex;
}

.nav-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    transition: 300ms;
    --scale-y: 0;
    color: white;
}

.nav-button::after {
    transition: 300ms;
    content: "";
    position: absolute;
    inset: 0 -1px;
    z-index: -1;
    transform: skew(-10deg) scaleY(var(--scale-y));
    background-color: #5bbde4;
    opacity: var(--scale-y);
}

.nav-button:hover::after {
    background-color: #93edf3;
}

.nav-button:hover {
    color: black;
    --scale-y: 1;
}

.nav-button div {
    padding: 0.8rem;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.banner {
    width: 100%;
}

.banner article {
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
    position: relative;
}

.banner-layout {
    display: flex;
    align-items: start;
    max-width: 96rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
}

.banner-header {
    font-family: LexendDeca;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-tagline {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-items: center;
    color: gray;
    transform: translateY(-20px)
}

.tagline-content ol {
    --height: 1.5rem;
    height: var(--height);
    line-height: var(--height);
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tagline-content ol li {
    animation: slide-up-text 24s infinite;
    display: flex;
    justify-content: center;
}

.tagline-content ol li span {
    font-weight: bold;
    user-select: none;
}

@keyframes slide-up-text {
    0%, 20% {
        transform: translateY(0%);
    }
    25%, 45% {
        transform: translateY(-100%);
    }
    50%, 70% {
        transform: translateY(-200%);
    }
    75%, 90% {
        transform: translateY(-300%);
    }
    100%, 120% {
        transform: translateY(-400%);
    }
    125%, 145% {
        transform: translateY(0%);
    }
}

.banner-header-container {
    padding: 0 2rem 0 2rem;
}

.banner-header-container div p {
    margin: 8px;
    font-weight: 100;
    font-size: 22px;
}

.banner-header-container div a {
    margin: 0 8px 0 8px;
    font-size: 20px;
}

.banner-header-button-container {
    display: flex;
    flex-direction: column;
}

.banner-header-button-container a {
    text-decoration: none;
    color: white;
}

.banner-header-title {
    font-weight: bold !important;
    font-size: 36px !important;
}

.banner-header-selection {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.3rem;
    user-select: none;
}

.banner-header-selection:hover {
    --hover-margin: 8px;
    --hover-color: #73d7ff;
}

.hoverable-text {
    margin-left: var(--hover-margin);
    color: var(--hover-color);
    transition: 300ms;
}

.something-that-clicks {
    font-weight: bold;
}

.image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    inset: 0;
    z-index: -1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    max-width: 96rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4px;
    margin-top: 20px;
    font-family: LexendDeca;
    display: grid;
    gap: 8rem;
}

.intro-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-size: 18px;
}

.intro-header a {
    text-decoration: none;
    color: #73d7ff;
}

.make-it-right {
    display: flex;
    justify-content: end;
}

.make-it-align-right {
    text-align: right;
    padding: 0;
    margin: 0;
}

.make-it-align-right li {
    margin-bottom: 0.3rem;
    list-style-position: inside;
    list-style-type: none;
}

.make-it-align-right li:last-child {
    margin-bottom: 0;
}

.intro-stacks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-stacks div {
    text-align: center;
}

.stack-list {
    padding: 5px;
    border-radius: 20px;
    background-color: var(--color-midnight);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.skill img {
    width: 5.5rem;
    height: 5.5rem;
}

.icon-small {
    width: 4.3rem !important;
    height: 4.3rem !important;
}

.icon-cover {
    background-color: #242938;
    border-radius: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.intro-projects div {
    text-align: center;
}

.intro-certification {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    gap: 0.3rem;
}

.intro-certification div {
    padding-left: 20px;
    padding-right: 20px;
}

.project-container {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--color-midnight);
    display: flex;
    gap: 10px;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-content p {
    text-align: start;
}


.project img {
    object-fit: cover;
    height: 20rem;
    border-radius: 20px;
}

.project-buttons {
    display: flex;
    gap: 8px;
}

.project-buttons a {
    padding: 20px;
    background-color: #12181b;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.red {
    background-color: rgb(255, 57, 57) !important;
}

.red:hover {
    background-color: rgb(255, 96, 96) !important;
}

.blue {
    background-color: rgb(80, 80, 255) !important;
}

.blue:hover {
    background-color: rgb(114, 114, 255) !important;
}


.certification {
    display: flex;
    gap: 0.4rem;
    font-size: 18px;
    border-radius: 1.2rem;
    background-color: var(--color-midnight);
}

.certification div {
    padding: 20px;
    text-align: start;
}

.certification img {
    margin-top: 24px;
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    align-items: center;
    background-color: var(--color-midnight);
    font-size: 20px;
    flex-direction: column;
}

footer section {
    display: grid;
    padding: 0;
    gap: 20px;
}

footer article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 24px;
}

footer a {
    color:#5bbde4;
}

footer img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 960px) {
    .project img {
        height: 10rem;
    }   

    .project-buttons {
        justify-content: center;
    }

    .project-container {
        flex-direction: column;
    }

    .banner-header-selection {
        padding: 0.8rem;
        font-weight: bold;
        font-size: 30px !important;
    }
}


@media screen and (max-width: 768px) {
    .project img {
        height: 8rem;
    }   
    .banner-layout {
        align-items: center;
    }

    .intro-header {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .intro-stacks div {
        text-align: center;
    }

    .intro-paragraph {
        text-align: center;
        padding: 0 1.5rem 0 1.5rem;
    }

    .make-it-right {
        justify-content: center;
        text-align: center;
    }

    .make-it-align-right {
        padding: 0;
        text-align: center;
        font-size: 18px;
    }

    h1 {
        text-align: center;
    }

    .skill img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .icon-small {
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .stack-list {
        gap: 10px;
    }

    footer img {
        width: 40px;
        height: 40px;
    }

    .intro {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}